In [12]:
import requests
import os
import datetime
import json
import pandas as pd
from pathlib import Path

In [10]:
zip_list=[10453, 10457, 10460, 10458, 10467, 10468, 10451, 10452, 10456, 10454, 10455, 10459, 10474,10463, 10471, 10466, 10469, 10470, 10475,10461, 10462,10464, 10465, 10472, 10473,11212, 11213, 11216, 11233, 11238,11209, 11214, 11228,11204, 11218, 11219, 11230,11234, 11236, 11239, 11223, 11224, 11229, 11235,11201, 11205, 11215, 11217, 11231,11203, 11210, 11225, 11226,11207, 11208,11211, 11222,11220, 11232,11206, 11221, 11237,10026, 10027, 10030, 10037, 10039, 10001, 10011, 10018, 10019, 10020, 10036,10029, 10035, 10010, 10016, 10017, 10022,10012, 10013, 10014,10004, 10005, 10006, 10007, 10038, 10280,10002, 10003, 10009,10021, 10028, 10044, 10065, 10075, 10128, 10023, 10024, 10025,10031, 10032, 10033, 10034, 10040 ,11361, 11362, 11363, 11364,11354, 11355, 11356, 11357, 11358, 11359, 11360, 11365, 11366, 11367,11412, 11423, 11432, 11433, 11434, 11435, 11436,11101, 11102, 11103, 11104, 11105, 11106, 11374, 11375, 11379, 11385, 11691, 11692, 11693, 11694, 11695, 11697,11004, 11005, 11411, 11413, 11422, 11426, 11427, 11428, 11429,11414, 11415, 11416, 11417, 11418, 11419, 11420, 11421,11368, 11369, 11370, 11372, 11373, 11377, 11378, 10302, 10303, 10310,10306, 10307, 10308, 10309, 10312,10301, 10304, 10305, 10314]

In [75]:
bronx=[10453, 10457, 10460, 10458, 10467, 10468, 10451, 10452, 10456, 10454, 10455, 10459, 10474,10463, 10471, 10466, 10469, 10470, 10475,10461, 10462,10464, 10465, 10472, 10473]

brooklyn=[11212, 11213, 11216, 11233, 11238,11209, 11214, 11228,11204, 11218, 11219, 11230,11234, 11236, 11239, 11223, 11224, 11229, 11235,11201, 11205, 11215, 11217, 11231,11203, 11210, 11225, 11226,11207, 11208,11211, 11222,11220, 11232,11206, 11221, 11237]

manhattan=[ 10026, 10027, 10030, 10037, 10039, 10001, 10011, 10018, 10019, 10020, 10036,10029, 10035, 10010, 10016, 10017, 10022,10012, 10013, 10014,10004, 10005, 10006, 10007, 10038, 10280,10002, 10003, 10009,10021, 10028, 10044, 10065, 10075, 10128, 10023, 10024, 10025,10031, 10032, 10033, 10034, 10040]

queens=[11361, 11362, 11363, 11364,11354, 11355, 11356, 11357, 11358, 11359, 11360, 11365, 11366, 11367,11412, 11423, 11432, 11433, 11434, 11435, 11436,11101, 11102, 11103, 11104, 11105, 11106, 11374, 11375, 11379, 11385, 11691, 11692, 11693, 11694, 11695, 11697,11004, 11005, 11411, 11413, 11422, 11426, 11427, 11428, 11429,11414, 11415, 11416, 11417, 11418, 11419, 11420, 11421,11368, 11369, 11370, 11372, 11373, 11377, 11378]

staten_island=[ 10302, 10303, 10310,10306, 10307, 10308, 10309, 10312,10301, 10304, 10305, 10314]

In [105]:
sale_path=Path("data/Sale_Prices_Zip_2015.csv")
sale_df=pd.read_csv(sale_path)
sale_ny_df=sale_df[sale_df['StateName'] == "New York"]

sale_ny_df.fillna(0,inplace=True)

sale_ny_df.reset_index(inplace=True)        
sale_ny_df.drop(columns=['RegionID','index','SizeRank'],inplace=True)
sale_ny_df.rename(columns={"RegionName": "Zip_Code"},inplace=True) 

for index, row in sale_ny_df.iterrows():
    if not row[0] in zip_list:
        sale_ny_df=sale_ny_df.drop(index)

sale_ny_df.reset_index(inplace=True)        
sale_ny_df.drop(columns=['index'],inplace=True)

sale_ny_df['Borough']=pd.Series()
column_names=list(sale_ny_df.columns.values)
sale_ny_df=sale_ny_df[['Zip_Code','Borough', 'StateName', '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06', '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12', '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12', '2020-01', '2020-02', '2020-03']]

for i in range(len(sale_ny_df)):
    if sale_ny_df.iloc[i,0] in bronx:
        sale_ny_df.iloc[i,1]='Bronx'
    elif sale_ny_df.iloc[i,0] in brooklyn:
        sale_ny_df.iloc[i,1]='Brooklyn'
    elif sale_ny_df.iloc[i,0] in manhattan:
        sale_ny_df.iloc[i,1]='Manhattan'
    elif sale_ny_df.iloc[i,0] in queens:
         sale_ny_df.iloc[i,1]='Queens'
    elif sale_ny_df.iloc[i,0] in staten_island:
         sale_ny_df.iloc[i,1]='Staten Island'
    
        
sale_ny_df.head()

,Zip_Code,Borough,StateName,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,10025,Manhattan,New York,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1024100.0,1029800.0,835100.0,961500.0,892000.0,869800.0,854700.0,870500.0,920100.0,1007900.0
1,10023,Manhattan,New York,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1229500.0,1141900.0,1146900.0,1052200.0,1020200.0,1051000.0,1151400.0,1060300.0,1148400.0,1107500.0
2,10002,Manhattan,New York,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,944000.0,954800.0,875000.0,895200.0,851300.0,784800.0,727100.0,818300.0,820600.0,898900.0
3,10016,Manhattan,New York,905000.0,921100.0,822100.0,874900.0,888700.0,880100.0,852000.0,...,1020500.0,931200.0,819700.0,787500.0,817100.0,773500.0,771300.0,776800.0,742200.0,733600.0
4,10011,Manhattan,New York,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1100600.0,1169000.0,1086700.0,1151900.0,1019400.0,1073400.0,1057500.0,1188200.0,1265500.0,1257900.0

In [106]:
rent_path=Path("data/Zip_Rent_2015.csv")
rent_df=pd.read_csv(rent_path)

rent_ny_df=rent_df[rent_df['City'] == "New York"]
rent_ny_df.fillna(0,inplace=True)
rent_ny_df.reset_index(inplace=True)        
rent_ny_df.drop(columns=['RegionID','index','SizeRank','Metro','State','CountyName'],inplace=True)
rent_ny_df.rename(columns={"RegionName": "Zip_Code"},inplace=True) 
rent_ny_df['Borough']=pd.Series()
column_names_rent=list(rent_ny_df.columns.values)
rent_ny_df=rent_ny_df[['Zip_Code','Borough' ,'City', '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06', '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12', '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12', '2020-01']]

for i in range(len(rent_ny_df)):
    if rent_ny_df.iloc[i,0] in bronx:
        rent_ny_df.iloc[i,1]='Bronx'
    elif rent_ny_df.iloc[i,0] in brooklyn:
        rent_ny_df.iloc[i,1]='Brooklyn'
    elif rent_ny_df.iloc[i,0] in manhattan:
        rent_ny_df.iloc[i,1]='Manhattan'
    elif rent_ny_df.iloc[i,0] in queens:
         rent_ny_df.iloc[i,1]='Queens'
    elif rent_ny_df.iloc[i,0] in staten_island:
         rent_ny_df.iloc[i,1]='Staten Island'
    
rent_ny_df.head()

C:\Users\shake\anaconda3\envs\pyvizenv\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Zip_Code,Borough,City,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01
0,10025,Manhattan,New York,3682.0,3767.0,3767.0,3811.0,3793.0,3894.0,3919.0,...,3785.0,3788.0,3786.0,3784.0,3766.0,3779.0,3843.0,3873.0,3835.0,0.0
1,10023,Manhattan,New York,0.0,4011.0,3985.0,4026.0,4012.0,0.0,0.0,...,3874.0,3898.0,3917.0,3929.0,3931.0,3963.0,0.0,4123.0,4079.0,0.0
2,10002,Manhattan,New York,0.0,4266.0,4205.0,4145.0,4062.0,0.0,0.0,...,3643.0,3673.0,3704.0,3738.0,3762.0,3794.0,3722.0,3759.0,3656.0,3605.0
3,11226,Brooklyn,New York,1947.0,1951.0,1976.0,2026.0,2052.0,2061.0,2105.0,...,2117.0,2116.0,2117.0,2127.0,2141.0,2165.0,2219.0,0.0,2167.0,2174.0
4,10467,Bronx,New York,1451.0,1460.0,1445.0,1439.0,1412.0,1412.0,1430.0,...,1745.0,1737.0,1728.0,1720.0,1723.0,1731.0,0.0,1802.0,1804.0,1842.0